<p>ajouter works!</p>
<h1 mat-dialog-title style="color: rgb(6, 59, 173);">
    <mat-icon>person_add </mat-icon> CLIENT
  </h1>
  <div mat-dialog-content  appearance="fill">
  
    <form [formGroup]="formValue">
  
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Référence :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="reference" class="form-control" required
                id="reference">
              <mat-icon matSuffix>description</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Nom et prénom :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="nomPrenom" class="form-control" required
                id="nomPrenom">
              <mat-icon matSuffix>face</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
          <td style="padding-left:40px;">
  
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Date de naissance :</mat-label>
              <input matInput placeholder="JJ/MM/AAAA" type="date" formControlName="dateNaissance" class="form-control"
                required id="dateNaissance">
              <mat-icon matSuffix>cake</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
          <td style="padding-left:40px;">
  
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Observation :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="observations" class="form-control" required
                id="observations">
              <mat-icon matSuffix>person</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
        </tr>
      </table>
  
      <table class="example-full-width" cellspacing="0">
        <tr>
  
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>N°Tél 1 :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="numTel1" class="form-control" required
                id="numTel1">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>N°Tél 2 :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="numTel2" class="form-control" required
                id="numTel2">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
          
  
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Email :</mat-label>
              <input matInput placeholder="pat@example.com" type="text" formControlName="email" class="form-control"
                required id="email">
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
          <table class="example-full-width" cellspacing="0">
            <tr>
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Age :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="age" class="form-control" required id="age">
              <mat-icon matSuffix>celebration</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
          <td style="padding-left:40px;">
  
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>CIN :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="cin" class="form-control" required id="cin">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>N°Assuré social :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="numAssureSocial" class="form-control"
                required id="numAssureSocial">
              <mat-icon matSuffix>description</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
  
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td style="padding-left:40px;">
  
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Adresse :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="adresse" class="form-control" required
                id="adresse">
              <mat-icon matSuffix>home</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Ville :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="ville" class="form-control" required
                id="ville">
              <mat-icon matSuffix>flag</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
  
          <!-- <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Pays : </mat-label>
              <select  matNativeControl  formControlName="pays" class="form-control" id="pays">
                <option value="Tunisie">Tunisie</option>
                <option value="France">France</option>
                <option value="Canada">Canada</option>
                <option value="Amérique">Amérique</option>
              </select>
            </mat-form-field>
          </td> -->
          
          <td style="padding-left:40px;">
            <mat-form-field appearance="fill" style="width: 170px;font-size: 80%;">
              <mat-label>Matricule fiscale :</mat-label>
              <input matInput placeholder="..." type="text" formControlName="matriculeFiscal" class="form-control"
                required id="matriculeFiscal">
              <mat-icon matSuffix>description</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
  
  
  
    </form>
  </div>
  
  
  <div mat-dialog-actions>
    <button mat-raised-button color="warn" class="fermer" id="cancel" (click)="onNoClick()">Fermer <mat-icon>clear
      </mat-icon></button>
  
    <button mat-raised-button color="primary" *ngIf="showAdd" class="ajouter" cdkFocusInitial
      (click)="postClientDetails()">Ajouter <mat-icon>person_add </mat-icon></button>
    <button mat-raised-button color="primary" class="modif" *ngIf="showUpdate" cdkFocusInitial
      >Modifier</button>
  
  </div>