

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Clients</h3>
        </div>
        <div class="card-body">




<div class="container-fluid page">
<div class="d-flex page__box p-3 mt-2">Clients</div>
<div class="page__content shadow p-3 position-relative">
    <div>
        <!-- search field -->
        <div class="input-group rounded">
            <input type="text" placeholder="Chercher par nom et prénom" class="search" [(ngModel)]="nomPrenom"  (keyup)="applyFilter($event)" />
        </div>
        <!-- table -->
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Réference Column -->
            <ng-container matColumnDef="reference">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Réference</th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.reference}} </td>
            </ng-container>

            <!-- NomPrénom Column -->
            <ng-container matColumnDef="nomPrenom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Nom et Prénom</th>
                <td mat-cell *matCellDef="let row" style="text-align:center"><a  class="text-primary">
                        {{row.nomPrenom}}</a> </td>
            </ng-container>

            <!-- chiffreAffaire Column -->

            <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Numéro de carte d'identité</th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.cin}} </td>


            </ng-container>

            <!-- solde Column -->
            <ng-container matColumnDef="solde">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:0%;"> Solde </th>
                <td mat-cell *matCellDef="let row" style="padding-left:0%;"> {{row.solde}} </td>
            </ng-container>

            <!-- nbreVisite Column -->
            <ng-container matColumnDef="nbreVisite">

                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center">Nombre de visite </th>
                <td mat-cell *matCellDef="let row" style="padding-left:0%;"> {{row.nbreVisite}} </td>

            </ng-container>

            <!-- dateNaissance Column -->
            <ng-container matColumnDef="dateNaissance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center"> date de naissance </th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.dateNaissance | date}} </td>
            </ng-container>

            <!-- observation Column -->
            <ng-container matColumnDef="observations">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center"> Observation </th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.observations}} </td>
            </ng-container>

            <!-- organisme Column -->
            <ng-container matColumnDef="numTel1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center"> Numéro de télèphone </th>
                <td mat-cell *matCellDef="let row" style="text-align:center"> {{row.numTel1}} </td>
            </ng-container>


            <!-- action Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align:center"> Actions </th>

                <td mat-cell *matCellDef="let row" style="display:flex">
                    <!-- Edit button -->
                    <button title="Modifier" class="modif" (click)="openDialog();onEdite(row)">
                        <mat-icon style="color: rgba(11, 100, 3, 0.842);">edit </mat-icon>
                    </button>
                    <!-- Button delete -->
                    <button title="supprimer" class="supp" (click)="deleteClient(row.id)">
                        <mat-icon style="color: #bd3f3f;">delete </mat-icon>
                    </button>
                </td>

            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[ 5, 10, 50]" aria-label="Select page of listClient"></mat-paginator>
        <!-- Add Button -->
        <div class="d-flex  m-2">
            <button type="button" class="ajouter" mat-raised-button (click)="openDialog();addClient()">
                <mat-icon>person_add </mat-icon> Ajouter client
            </button>
        </div>
        <!-- Client file button -->
        <!--
        <div class="d-flex m-2">
            <button type="button" class="dossier" (click)="openDialogFile()">
                <mat-icon>attach_file </mat-icon> Dossier client
            </button>
        </div>-->
        <!-- button print -->
        <div class="d-flex m-2">
            <button  type="button"  mat-raised-button  class="impri" (click)="exproterclient();" >
                <mat-icon>adf_scanner </mat-icon> Imprimer
            </button>
        </div>


    </div>
</div>
</div>



       
</div>
</div>
</div>
</div>
</div>

