<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="worksForm" (ngSubmit)="onSubmitForm()">


    <div class="form-group">
     <h1>{{storage.getUser().username}}</h1>
      <label for="description" class="fs-5 mt-3">description:</label>
      <input
        type="text"
        class="form-control mb-4 p-3 mt-4"
        formControlName="description"
      />
    </div>

    <div class="form-group">
      <label for="nombre_heur" class="fs-5 mt-3">Nombre de heur:</label>
      <input
        type="number"
        class="form-control mb-4 p-3 mt-4"
        formControlName="nombre_heur"
      />
    </div>

     <table class="mb-5">
      <tr>
        <td>
          <div class="form-group me-5">
            <label for="projectsID" class="fs-5">Project:</label>
            <select
              class="form-control form-select mt-3"
              formControlName="project"
            >
              <option *ngFor="let d of projectList" [ngValue]="d">
                {{ d.name_project }}
              </option>
            </select>
            <div>

            </div>
          </div>
        </td>

      </tr>
    </table>

    <div class="form-group">
      <button type="submit" class="btn btn-dark me-3 p-3">
        Enregistrer <i class="fa fa-database ms-2"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-dark ml-1 p-3"
        [mat-dialog-close]
      >
        <i class="fa fa-close"></i> Close
      </button>
    </div>
  </form>
</div>
